/* Animated lightbulb on report page */

.report-section__animation-container {
  position: relative;
  margin: 4rem auto 0 auto;
  height: 16rem;
  width: 225px;
}

.report-section__animation {
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
}

.report-section__animation--lightbulb {
 background-image: url(/images/blank-bulb.png);
 height: 16rem;
 width: 100%;
}

.report-section__animation--stem {
  background-image: url(/images/stem.png);
  animation: grow-stem 5s ease;
  animation-fill-mode: forwards;
  transform-origin: bottom;
  width: 20px;
  height: 93px;
  left: 100px;
  top: 86px;
  background-position: 50%;
}

.report-section__animation--side-leaf {
  background-image: url(/images/side-leaf.png);
  animation: grow-side-leaf 5s ease;
  animation-fill-mode: forwards;
  transform-origin: 100% 100%;
  width: 70px;
  height: 60px;
  top: 80px;
  left: 41px;
  background-position: 50%;
}

.report-section__animation--top-leaf {
  background-image: url(/images/top-leaf.png);
  animation: grow-top-leaf 5s ease;
  animation-fill-mode: forwards;
  transform-origin: bottom;
  width: 50px;
  height: 63px;
  left: 91px;
  top: 36px;
  background-position: 50%;
}

.report-section__animation--side-stem {
  background-image: url(/images/side-stem.png);
  animation: grow-side-stem 5s ease;
  animation-fill-mode: forwards;
  transform-origin: 0% 100%;
  width: 30px;
  height: 30px;
  top: 86px;
  left: 108px;
  background-position: 50%;
}

@keyframes grow-stem {
  0% { transform: scaleY(0); }
  100% { transform: scaleY(1); }
}

@keyframes grow-side-leaf {
  0% { transform: scale(0); opacity: 0; }
  30% { transform: scale(0); opacity: 0; }
  100% { transform: scale(1); opacity: 1; }
}

@keyframes grow-top-leaf {
  0% { transform: scale(0) translate(-10px, 30px); opacity: 0; }
  50% { transform: scale(0) translate(-10px, 30px); opacity: 0; }
  100% { transform: scale(1) translate(0px, 0px); opacity: 1; }
}

@keyframes grow-side-stem {
  0% { transform: scale(0); opacity: 0; }
  60% { transform: scale(0); opacity: 0; }
  100% { transform: scale(1); opacity: 1; }
}
