.navbar__nav {
  width: 100%;
  position: fixed;
  bottom: 0;
  margin: 0 -4vw;
  padding-top: 1.5vh;
  padding-bottom: 0.5vh;
  background-color: $lowlight-color;
}

@media only screen and (min-width: 600px) {
  .navbar__nav {
    width: 10vw;
    position: fixed;
    left: -0.5vw;
    top: 0;
    margin: 0;
    background-color: $main-color;
  }
}

.navbar__item {
  display: inline-block;
  font-size: 0.8rem;
}

@media only screen and (min-width: 600px) {
  .navbar__item {
    display: block;
  }
}

.navbar__icon {
  width: 10vw;
  margin: 0 3vw;
}

@media only screen and (min-width: 600px) {
  .navbar__icon {
    width: 3vw;
    margin: 1vh 1vw;
  }
  .navbar__icon:hover {
    transform: scale(1.1);
    transition: all .2s ease-in-out;
  }
}

.navbar__link {
  text-decoration: none;
  display: block;
}

@media only screen and (min-width: 600px) {
  .navbar__link {
    margin-top: 1vh;
  }
}

// burger menu
@media only screen and (min-width: 600px) {
  .container {
    display: inline-block;
    cursor: pointer;
  }

  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }

  /* Rotate first bar */
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
  }

  /* Fade out the second bar */
  .change .bar2 {
    opacity: 0;
  }

  /* Rotate last bar */
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
  }
  .navbar__list--visible {
    display:none;
    transition: height 2s;
  }
}
