.navbar__nav {
  width: 100%;
  position: fixed;
  bottom: 0;
  margin: 0 -4vw;
  padding-top: 1.5vh;
  background-color: $main-color;
  border-top: white solid 2px;
}

.navbar__item {
  display: inline-block;
}

.navbar__icon {
  width: 12vw;
  margin: 0 3vw;
}

.navbar__link {
  text-decoration: none;
  display: block;
}

// @media only screen and (min-width: 600px) {
//
// }
