$main-font: Helvetica, sans-serif;
$main-color: rgb(168, 227, 230);
$highlight-color: rgb(231, 250, 251);
$links-color: rgb(0, 117, 162);
$report-title-fontsize: 2.5rem;
$links-form-fontsize: 1.5rem;
$report-subtitle-fontsize: 2rem;
$report-description-fontsize: 1.2rem;
$report-kata-description-fontsize: 1.7rem;
