$main-font: Helvetica, sans-serif;
$main-color: rgb(168, 227, 230);
$report-title-fontsize: 2.5rem;
$links-form-fontsize: 1.5rem;
$report-subtitle-fontsize: 2rem;
$report-description-fontsize: 1.2rem;
