<div class="report-section__animation-container">
  <div class="report-section__animation report-section__animation--lightbulb"></div>
 	<div class="report-section__animation report-section__animation--stem"></div>
 	<div class="report-section__animation report-section__animation--side-leaf"></div>
 	<div class="report-section__animation report-section__animation--top-leaf"></div>
  <div class="report-section__animation report-section__animation--side-stem"></div>
</div>
