<div class="logo-animation__container">
  <div class="logo-animation logo-animation__lightbulb"></div>
 	<div class="logo-animation logo-animation__stem"></div>
 	<div class="logo-animation logo-animation__side-leaf"></div>
 	<div class="logo-animation logo-animation__top-leaf"></div>
  <div class="logo-animation logo-animation__side-stem"></div>
</div>
