<div class="report-section__summary-logo">
	<div class="bulb-background"></div>
	<div class="stem"></div>
	<div class="side-leaf"></div>
	<div class="top-leaf"></div>
	<div class="side-stem"></div>
</div>
