<nav class="navbar__nav" role="navigation">
  <ul class="navbar__list">
    <li class="navbar__item">
      <a class="navbar__link navbar__link--active" href="#summary">
        <img class="navbar__icon" src="/images/home.svg" alt="Home">
      </a>Home
    </li>
    <li class="navbar__item">
      <a class="navbar__link navbar__link--active" href="#github">
        <img class="navbar__icon" src="/images/github.svg" alt="Home">
      </a>Github
    </li>
    <li class="navbar__item">
      <a class="navbar__link navbar__link--active" href="#fcc">
        <img class="navbar__icon" src="/images/fcc.svg" alt="Home">
      </a>FCC
    </li>
    <li class="navbar__item">
      <a class="navbar__link navbar__link--active" href="#codewars">
        <img class="navbar__icon" src="/images/codewars.svg" alt="Home">
      </a>Codewars
    </li>
    <li class="navbar__item">
      <a class="navbar__link navbar__link--active" href="#meetup">
        <img class="navbar__icon" src="/images/meetup.svg" alt="Home">
      </a>Meetup
    </li>
  </ul>
</nav>
