<nav class="navbar__nav" role="navigation">
  <ul id="js-navbar__list" class="navbar__list navbar__list--visible">
    <li class="navbar__item">
      <a class="navbar__link" href="#summary">
        <img class="navbar__icon" src="/images/home.svg" alt="Home">
      </a>Home
    </li>
    <li class="navbar__item">
      <a class="navbar__link" href="#github">
        <img class="navbar__icon" src="/images/github.svg" alt="Github">
      </a>Github
    </li>
    <li class="navbar__item">
      <a class="navbar__link" href="#fcc">
        <img class="navbar__icon" src="/images/fcc.svg" alt="FreeCodeCamp">
      </a>FCC
    </li>
    <li class="navbar__item">
      <a class="navbar__link" href="#codewars">
        <img class="navbar__icon" src="/images/codewars.svg" alt="Codewars">
      </a>Codewars
    </li>
    <li class="navbar__item">
      <a class="navbar__link" href="#meetup">
        <img class="navbar__icon" src="/images/meetup.svg" alt="Meetup">
      </a>Meetup
    </li>
  </ul>
</nav>
