<section class="report-section">
  {{>animation}}
  <h1 class="report-section__title">Summary</h1>
    <ul class="report-section__list">
      {{>githubSummary}}
      <li class="report-section__list-item">
        {{#unless freeCodeCamp.success}}
          <p class="report-section__prereq">freeCodeCamp: {{freeCodeCamp.message}}</p>
        {{/unless}}
        {{#if freeCodeCamp.success}}
          {{#if freeCodeCamp.complete}}
          <img class="report-section__icon" src="/images/check-mark.svg" alt="Completed"><p class="report-section__prereq">freeCodeCamp: 4 sections</p>
        {{else}}
          <img class="report-section__icon" src="/images/x-mark.svg" alt="Not completed"><p class="report-section__prereq">freeCodeCamp: 4 sections</p>
          {{/if}}
        {{/if}}
      </li>
      {{>codewarsSummary}}
  </ul>
  <a href="/links">Edit applicant details</a>
</section>
