<section class="links">
    <form class="links__github-form" action="" method="">
        <p>Enter your GitHub page url</p>
        <input class="links__githubpage-input" type="text" name="githubPage" value="faccer.github.io">
        <input class="links__github-submit" type="submit" name="submit" value="Submit">
    </form>
    <form class="links__usernames-form" action="" method="">
        <p>freeCodeCamp username</p>
        <input class="links__fcc-input" type="text" name="fcc" value="">
        <p>Codewars username</p>
        <input class="links__cw-input" type="text" name="cw" value="">
        <p>GitHub username</p>
        <input class="links__gh-input" type="text" name="gh" value="">
        <input class="links__usernames-submit" type="submit" name="submit" value="GO">
    </form>
</section>