<section class="links">
    <form class="links__form" action="scrape-links" method="get">
        <p>Enter your GitHub page url</p>
        {{#unless success}}
        <p>Sorry this URL could not be found</p>
        {{/unless}}
        <input class="links__input" type="text" name="githubPage" value="{{githubPageLink}}">
        <input class="links__submit" type="submit" name="submit" value="Submit">
    </form>
    <form class="links__form" action="" method="">
        <p>freeCodeCamp username</p>
        <input class="links__input" type="text" name="fcc" value="{{fccHandle}}">
        <p>Codewars username</p>
        <input class="links__input" type="text" name="cw" value="{{codewarsHandle}}">
        <p>GitHub username</p>
        <input class="links__input" type="text" name="gh" value="{{githubHandle}}">
        <input class="links__submit" type="submit" name="submit" value="GO">
    </form>
</section>
