<section class="login">
    <h1 class="login__title">prereqCheck</h1>
    <img class="login__logo" src="/images/lightbulb.png" alt="Founders and Coders Logo">
    <p class="login__info">Use prereqCheck to get a quick overview of applicants' completion and quality of the Founders and Coders prerequisites.</p>
    <form action="http://github.com/login/oauth/authorize?scope=read:org" method="GET">
        <input type="hidden" name="scope" value="read:org">
        <input type="hidden" name="client_id" value="79fa1c93ddb2c874bc1d">
        <button type="submit" class="login__button">Sign in with GitHub</button>
    </form>
</section>