<section class="login">
    <h1>prereqCheck</h1>
    <img src="/images/lightbulb.png">
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorem, repudiandae placeat. Tempora assumenda quibusdam corrupti repellat excepturi? Dolores voluptates nihil molestias, provident tempore debitis molestiae quisquam ducimus laboriosam natus nisi?</p>
    <button>Sign in with GitHub</button>
</section>