<section class="login">
    <h1 class="login__title">prereqCheck</h1>
    <img class="login__logo" src="/images/lightbulb.png">
    <p class="login__info">Use prereqCheck to get a quick overview of applicants' completion and quality of the Founders and Coders prerequisites.</p>
    <button class="login__button">Sign in with GitHub</button>
</section>
