<section class="login">
    <h1 class="login__title">prereqCheck</h1>
    <img class="login__logo" src="/images/lightbulb.png">
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorem, repudiandae placeat. Tempora assumenda quibusdam corrupti repellat excepturi? Dolores voluptates nihil molestias, provident tempore debitis molestiae quisquam ducimus laboriosam natus nisi?</p>
    <form action="http://github.com/login/oauth/authorize" method="GET">
        <input type="hidden" name="client_id" value="79fa1c93ddb2c874bc1d">
        <button type="submit">Sign in with GitHub</button>
    </form>
</section>
