<section class="summary">
    <img class="summary__logo" src="/images/lightbulb.png">
    <h1 class="summary__title">Summary</h1>
    <img src="" alt=""><p>Website on GitHub Pages</p>
    <img src="" alt=""><p>freeCodeCamp required sections</p>
    <img src="" alt=""><p>Codewars: 5 Kyu or better</p>
    <img src="" alt=""><p>Codewars: authored 1+ Kata</p>
</section>

<section class="github">
  <h1 class="github__title">Website & GitHub</h1>
  <img class="" src="" alt=""><p>Website on GitHub Pages</p>
</section>

<section class="freecodecamp">
  <h1 class="freecodecamp__title">freeCodeCamp</h1>
  <h3>freeCodeCamp required sections:</h3>
  <img src="" alt=""><p>HTML5 & CSS</p>
  <img src="" alt=""><p>Basic JavaScript</p>
  <img src="" alt=""><p>Object Oriented & Functional Programming</p>
  <img src="" alt=""><p>Basic Algorithm Scripting</p>
</section>

<section class="codewars">
  <h1 class="codewars__title">Codewars</h1>
  <img src="" alt=""><p>Codewars: 5 Kyu or better</p>
  <img src="" alt=""><p>Codewars: authored 1+ Kata</p>
</section>

<section class="meetup">
  <h1 class="meetup__title">Meetup</h1>
</section>
