<section class="summary">
    <img src="/images/lightbulb.png">
    <h1>Summary</h1>
    <img src="" alt=""><p>Website on GitHub Pages</p>
    <img src="" alt=""><p>freeCodeCamp required sections</p>
    <img src="" alt=""><p>Codewars: 5 Kyu or better</p>
    <img src="" alt=""><p>Codewars: authored 1+ Kata</p>
</section>

<section class="github">
  <h1>Website & GitHub</h1>
  <img src="" alt=""><p>Website on GitHub Pages</p>
</section>

<section class="freecodecamp">
  <h1>freeCodeCamp</h1>
  <h3>freeCodeCamp required sections:</h3>
  <img src="" alt=""><p>HTML5 & CSS</p>
  <img src="" alt=""><p>Basic JavaScript</p>
  <img src="" alt=""><p>Object Oriented & Functional Programming</p>
  <img src="" alt=""><p>Basic Algorithm Scripting</p>
</section>

<section class="codewars">
  <h1>Codewars</h1>
  <img src="" alt=""><p>Codewars: 5 Kyu or better</p>
  <img src="" alt=""><p>Codewars: authored 1+ Kata</p>
</section>

<section class="meetup">
  <h1>Meetup</h1>
</section>
