<section class="report-section">
  <img class="report-section__summary-logo" src="/images/lightbulb.png">
  <h1 class="report-section__title">Summary</h1>
    <ul class="report-section__list">
      <li class="report-section__list-item">
        <img class="report-section__icon" src="/images/x-mark.svg" alt=""><p class="report-section__prereq">Website on GitHub Pages</p>
      </li>
      <li class="report-section__list-item">
        <img class="report-section__icon" src="/images/x-mark.svg" alt=""><p class="report-section__prereq">freeCodeCamp: 4 sections</p>
      </li>
      <li class="report-section__list-item">
        <img class="report-section__icon" src="/images/x-mark.svg" alt=""><p class="report-section__prereq">Codewars: 5 Kyu or better</p>
      </li>
    <li class="report-section__list-item">
      <img class="report-section__icon" src="/images/x-mark.svg" alt=""><p class="report-section__prereq">Codewars: authored 1+ Kata</p>
    </li>
  </ul>
</section>

<section class="report-section">
  <h1 class="report-section__title">Website & GitHub</h1>
  <ul class="report-section__list">
    <li class="report-section__list-item">
  <img class="report-section__icon" src="/images/x-mark.svg" alt=""><p class="report-section__prereq">Website on GitHub Pages</p>
</li>
</ul>
</section>

<section class="report-section">
  <h1 class="report-section__title">freeCodeCamp</h1>
  <h3 class="report-section__fcc-subtitle">freeCodeCamp: 4 sections</h3>
  <ul class="report-section__list">
    <li class="report-section__list-item">
  <img class="report-section__icon" src="/images/x-mark.svg" alt=""><p class="report-section__prereq">HTML5 & CSS</p>
</li>
<li class="report-section__list-item">
  <img class="report-section__icon" src="/images/x-mark.svg" alt=""><p class="report-section__prereq">Basic JavaScript</p>
</li>
<li class="report-section__list-item">
  <img class="report-section__icon" src="/images/x-mark.svg" alt=""><p class="report-section__prereq">Object Oriented & Functional Programming</p>
</li>
<li class="report-section__list-item">
  <img class="report-section__icon" src="/images/x-mark.svg" alt=""><p class="report-section__prereq">Basic Algorithm Scripting</p>
</li>
</ul>
</section>

<section class="report-section">
  <h1 class="report-section__title">Codewars</h1>
  <ul class="report-section__list">
    <li class="report-section__list-item">
  <img class="report-section__icon" src="/images/x-mark.svg" alt=""><p class="report-section__prereq">Codewars: 5 Kyu or better</p>
</li>
<li class="report-section__list-item">
  <img class="report-section__icon" src="/images/x-mark.svg" alt=""><p class="report-section__prereq">Codewars: authored 1+ Kata</p>
</li>
</ul>
</section>

<section class="report-section">
  <h1 class="report-section__title">Meetup</h1>
</section>
