<section class="links">
    <form class="links__form" action="scrape-links" method="get">
        <p>Enter your GitHub page url</p>
        <input class="links__input" type="text" name="githubPage" value="" placeholder="e.g. bartbucknill.github.io/fac-application">
        <input class="links__submit" type="submit" name="submit" value="Submit">
    </form>
</section>
